.root {
    -fx-background-color: #2b2b2b;
    -fx-padding: 40;
    -fx-border-radius: 15;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 15, 0.5, 0, 0);
}

.text-title {
    -fx-font-size: 36px;
    -fx-font-weight: bold;
    -fx-text-fill: #ffffff;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 5, 0.5, 0, 0);
    -fx-font-family: "Arial Black";
}

.label {
    -fx-font-size: 16px;
    -fx-text-fill: #cfcfcf;
}

.text-field {
    -fx-pref-width: 250px;
    -fx-font-size: 16px;
    -fx-background-color: #3a3a3a;
    -fx-text-fill: #f5f5f5;
    -fx-border-color: #555555;
    -fx-border-radius: 5px;
    -fx-padding: 10 15;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 5, 0.5, 0, 0);
}

.button-login {
    -fx-font-size: 18px;
    -fx-background-color: #448aff; /* Vibrant blue */
    -fx-text-fill: white;
    -fx-background-radius: 25;
    -fx-pref-width: 150px;
    -fx-pref-height: 45px;
    -fx-padding: 10 20;
    -fx-cursor: hand;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 10, 0.5, 0, 0);
    -fx-transition: background-color 0.3s, border-color 0.3s;
}

.button-login:hover {
    -fx-background-color: #2979ff; /* Darker blue */
    -fx-border-color: #2962ff;
}

.button-login:pressed {
    -fx-background-color: #2962ff; /* Even darker blue */
    -fx-border-color: #1c54b2;
}

.button-forgot-password {
    -fx-font-size: 14px;
    -fx-background-color: transparent;
    -fx-text-fill: #448aff;
    -fx-underline: true;
}

.button-forgot-password:hover {
    -fx-text-fill: #2979ff;
}

.button-back {
    -fx-font-size: 18px;
    -fx-background-color: #ff5252; /* Vibrant red */
    -fx-text-fill: white;
    -fx-background-radius: 25;
    -fx-pref-width: 150px;
    -fx-pref-height: 45px;
    -fx-padding: 10 20;
    -fx-cursor: hand;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 10, 0.5, 0, 0);
    -fx-transition: background-color 0.3s, border-color 0.3s;
}

.button-back:hover {
    -fx-background-color: #ff1744; /* Darker red */
    -fx-border-color: #d50000;
}

.button-back:pressed {
    -fx-background-color: #d50000; /* Even darker red */
    -fx-border-color: #b71c1c;
}

.error-label {
    -fx-text-fill: red;
    -fx-font-size: 14px;
    -fx-padding: 5px;
}
