.root {
    -fx-background-color: linear-gradient(to bottom, #e0f7fa, #b2dfdb);
    -fx-padding: 20px;
    -fx-spacing: 20px;
    -fx-alignment: center;
}

.label {
    -fx-font-size: 14px;
    -fx-fill: #004d40;
}

.text-field {
    -fx-pref-width: 200px;
    -fx-padding: 5px;
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
    -fx-border-color: #004d40;
    -fx-border-width: 1px;
}

.button-reset {
    -fx-font-size: 14px;
    -fx-background-color: #00796b;
    -fx-text-fill: white;
    -fx-background-radius: 10;
    -fx-padding: 10px 20px;
}

.button-reset:hover {
    -fx-background-color: #004d40;
}

.text-title {
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-fill: #004d40;
}

.info-label {
    -fx-text-fill: green;
    -fx-font-size: 12px;
    -fx-padding: 5px;
}
